html {
  background-color: rgb(202, 201, 201);
}

body {
  /* margin: 0 400px; */
  margin: auto 200px ;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  text-align:center;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  background-color: rgb(236, 222, 250);
  
}

/* .openChecksList {
  border: 3px solid black;
  margin: 20px 20px;
} */

div {
  border: 3px solid black;
  margin: 20px 20px;
  background-color: rgb(193, 240, 237);
  /* background-color: rgb(222, 243, 253); */
}

.checkOpen {
  background-color: rgba(246, 246, 246, 0.813);
}

.itemizedCheck, 
.itemButtons {
  background-color: rgb(236, 222, 250);
  /* width: 400px;; */
  width: 800px;
}

.newCheck {
  display: flex;
  justify-content: space-around;
}

button {
  font-size: x-large;
  font-weight: 600;
  margin: 10px;
  border: 3px solid black;
  padding: 5px;
  background-color: rgb(193, 240, 237);
}

input {
  text-align: right;
}

/* .newCheckModal {
width: 400px;
position: center;
overflow: hidden;  */

/* overlay: {
  // position: 'fixed',
  top: 200,
  left: 450,
  right: 450,
  bottom: 200,
  borderRadius: '40px',
  // backgroundColor: '#ccc'
  // backgroundColor: 'rgba(255, 255, 255, 0.75)'
}
} */

.login { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 200px;
  margin-right: 200px;
  /* padding: 20px; */
}

.logInButtons {
  background-color: rgb(236, 222, 250);
  width: 300px;
  align-self: center;
  
}

.logIn_button {
  width: 70px;
}

.enter_clear {
  width: 80px;
  font-size: medium;
}

strong {
  font-weight: 900;
}